ANTHROPIC_API_KEY=__ANTHROPIC_API_KEY__

DIGIKEY_CLIENT_ID=__DIGIKEY_CLIENT_ID__
DIGIKEY_CLIENT_SECRET=__DIGIKEY_CLIENT_SECRET__
NEXT_PUBLIC_SUPABASE_URL=__NEXT_PUBLIC_SUPABASE_URL__
NEXT_PUBLIC_SUPABASE_ANON_KEY=__NEXT_PUBLIC_SUPABASE_ANON_KEY__
REGISTRATION_CODE=__REGISTRATION_CODE__
SUPABASE_SERVICE_ROLE_KEY=__SUPABASE_SERVICE_ROLE_KEY__
PARTSIO_API_URL=__PARTSIO_API_URL__
PARTSIO_API_KEY=__PARTSIO_API_KEY__